@import 'fonts.css';
@import 'typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-t from-zinc-300 to-zinc-50 text-zinc-900;
    @apply dark:from-zinc-950 dark:to-zinc-900 dark:text-white;
  }
}

@layer utilities {
  .fade-in {
    @apply animate-fade animate-once animate-duration-1000 animate-ease-linear;
  }
  .fade-in-fast {
    @apply animate-fade animate-once animate-duration-150 animate-ease-linear;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply h-screen w-screen flex flex-col;
}
