.card {
  @apply shadow-md min-h-0 h-[10vh] aspect-[1/1] rounded;
  @apply landscape:h-[18vh];
  perspective: 1000px;

  &:focus-visible {
    @apply outline-2 outline-orange-400 outline outline-offset-2;
  }

  > div {
    @apply relative h-full w-full;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    > div {
      @apply absolute h-full w-full rounded;
      backface-visibility: hidden;
    }
  }
}

.card_active {
  > div {
    transform: rotateY(-180deg);
  }
}

.card_front {
  transform: rotateY(180deg);
  @apply flex items-center justify-center overflow-hidden bg-white border-[0.5vh] border-white;
  @apply landscape:border-[1vh] xl:border-[1vh];

  > img {
    @apply min-w-full min-h-full object-cover;
  }
}

.card_back {
  @apply bg-zinc-800;
}
