.hero {
  @apply flex mb-10;

  > * {
    @apply h-[15vh];
    @apply landscape:h-[25vh] lg:landscape:h-[13vh];
  }

  > :first-child {
    --tw-rotate: -12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) rotateY(-180deg);
  }

  > :last-child {
    --tw-rotate: 12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) rotateY(-180deg);
  }
}
