.loading {
  @apply flex-1 flex flex-col items-center justify-center;
}

.loader {
  > i {
    @apply float-left block h-5 w-4 bg-white mx-2 rounded-sm;
    &:nth-child(1) {
      animation: shuffle 1s infinite;
    }

    &:nth-child(2) {
      animation: move 1s infinite;
    }

    &:nth-child(3) {
      animation: move 1s infinite;
    }
  }
}

@keyframes shuffle {
  50% {
    opacity: 0.25;
    transform: scale(0.9);
  }

  75% {
    opacity: 0.25;
    transform: scale(0.9);
    transform: translateX(4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(4rem);
  }
}

@keyframes move {
  100% {
    transform: translateX(-2rem);
  }
}
